$font-family: 'Azo Sans', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-caption: 10px;
$font-size-card-section-title: 11px;
$font-size-breadcrumbs: 18px;
$font-size-headline: 20px;
$font-size-site-title: 24px;
$font-size-large: 14px;
$font-size-normal: 13px;
$font-size-title: 16px;
$font-size-tooltip: 12px;

$line-height-normal: 20px;
$line-height-title: 32px;
$line-height-icon: 24px;

// Material opacities - https://material.io/guidelines/style/color.html#color-color-schemes
$opacity-primary: 0.87;
$opacity-subtext: 0.70;
$opacity-secondary: 0.54;
$opacity-disabled: 0.38;
$opacity-divider: 0.2;
$opacity-map-background: 0.16;
$opacity-focus: 0.16;
$opacity-hover: 0.04;

$spacing-vertical: 16px;
$spacing-vertical-extended: 8px;
$spacing-horizontal: 24px;
$spacing-horizontal-extended: 12px;
$fixed-height-badge: 16px;
$fixed-height-divider-major: 2px;
$fixed-height-divider-minor: 1px;
$fixed-height-icon-button: 40px;
$fixed-height-circle-icon: 30px;
$fixed-height-icon: 18px;
$fixed-height-map-button: 32px;
$fixed-height-map-style-control: 75px;
$fixed-height-menu-item: 36px;
$fixed-height-progress-bar: 3px;
$fixed-height-toolbar: 48px;
$fixed-height-toolbar-dense: 52px;
$fixed-height-status-circle: 18px;
