:host {
  .search {
    font-size: 18px;
    border-color: transparent;
    border-style: none;
    background-color: transparent;
  }
  .mat-expansion-panel-header {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    padding-right: 0px;
    padding-left: 16px;
  }
  .mat-expansion-panel-header-title {
    align-items: center;
    .mat-icon {
      line-height: 24px;
    }
    .mat-icon-button {
      vertical-align: middle;
      line-height: 24px;
      margin-left: auto;
    }
  }
  .expansion-content {
    padding-top: 8px;
    .mat-form-field {
      margin-top: 4px;
      width: 100%;
    }
  }
  .mat-raised-button {
    margin-left: auto;
  }
}
